#default_A {
    background-color: #BFE9FF;
    border: none;
    width: 350px;
    height: 50px;
    font-weight: 400;
    font-size: 25px;
    color: black;
    border-radius: 10px;
}

.std_button {
    border-radius: 10px;
}

.startworkout-button {
    background-color: #BCFF31;
    font-weight: bold;
    font-size: 30px;
    font-family: "Inter-Medium", "Bariol";
    color: #131738;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    text-align: center;
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 350px;
    height: 50px;
}


.checkequipment-button {
    background-color: #000000;
    width: 350px;
    height: 50px;
    font-weight: bold;
    font-size: 22px;
    font-family: "Inter-Medium", "Bariol";
    text-align: center;
    color: #ffffff;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

#standard_workout_style {
    background-color: black;
    width: 350px;
    height: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#inner-div {
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
}
  
#inner-div-left {
    display: flex; /* Turn div into a flex container */
    width: 30%;
    border: none;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}
  
#inner-div-right {
    width: 70%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

.inner_div_datetime {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "Inter-Regular", "Helvetica";
  font-style: italic;
  font-weight: 500;
}

#occ_quick_view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BFE9FF;
    width: 350px;
    height: 100px;
    margin: 15px;
    padding: 0;
    border: none;  
    border-radius: 10px;
}

#occ_curr {
    /* display: flex; */
    justify-content: center;
    background-color:#131738;
    width: 350px;
    height: 200px;
    margin: 15px;
    padding: 0;
    border: none;  
    border-radius: 10px;
}


#occ_curr_title {
    color: white;
    font-size: 20px;
    font-family: "Inter-Regular", "Helvetica";
    font-weight: 400;
    padding-top: 20px;

}

#occ_curr_number {
    color: white;
    font-size: 50px;
    font-family: "Inter-Regular", "Helvetica";
    font-weight: 400;
}

#occ_curr_sub {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color:white;
}



#gym_info {
    width: 75%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    border: none;   
}

#percentage {
    width: 25%;
    height: 100%;
    right: 0;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.subsection {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

#gym_name {
    color: black;
    font-size: 25px;
    font-family: "Inter-Regular", "Helvetica";
    font-weight: 400;
    padding-top: 20px;
    padding-left: 10px;
}

.circle {
    width: 65px; /* Set width and height for the circle */
    height: 65px;
    background-color: white; /* Change background color as desired */
    border-radius: 50%; /* Makes the element a circle */
    color: #FF6B2B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    font-family: "Inter-Medium", "Helvetica";
}

#open {
    height: 100%;
    color: green;
    font-size: 20px;
    font-family: "Inter-Regular", "Helvetica";
    font-weight: bold;
    padding-left: 10px;
}

#closed {
    height: 100%;
    color: red;
    font-size: 20px;
    font-family: "Inter-Regular", "Helvetica";
    font-weight: bold;
    padding-left: 10px;
}

#hours {
    height: 100%;
    color: black;
    font-size: 20px;
    font-family: "Inter-Regular", "Helvetica";
    font-weight: 300;
    text-align: left; /* Align text to the left */
    letter-spacing: 2px; /* Increase letter spacing */
    padding-left: 10px;
}

#add_gym_button {
    width: 65px; /* Set width and height for the circle */
    height: 65px;
    background-color: #BFE9FF; /* Change background color as desired */
    border-radius: 50%; /* Makes the element a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

#default_B {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BFE9FF;
    border: none;
    width: 350px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    padding: 0 10px;
    text-align: left;
}


#view_equipment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BCFF31;
    border: none;
    width: 350px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    padding: 0 10px;
    text-align: left;
    margin-top:10px;
    margin-bottom:20px;
}

#note_button {
    padding-top: 10px;
    padding-bottom: 10px;
}

#add_note_button {
    width: 65px; 
    height: 65px;
    background-color: #BFE9FF; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
