#default_A {
    background-color: #BFE9FF;
    border: none;
    width: 350px;
    height: 50px;
    font-weight: 400;
    font-size: 25px;
    color: black;
    border-radius: 10px;
}

.std_button {
    border-radius: 10px;
}

.startworkout-button {
    background-color: #BCFF31;
    font-weight: bold;
    font-size: 22px;
    font-family: "Bariol";
    color: #131738;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    margin-top: 10px;
}

.view-equipment-details-button {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #BCFF31;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    font-family: "Bariol";
    font-weight: bold;
    font-size: 22px;
    color: black;
    padding: 0 10px;
    text-align: left;
    margin-top:60px;
    margin-bottom:20px;
}



.checkequipment-button {
    background-color: #000000;
    width: 350px;
    height: 50px;
    font-weight: bold;
    font-size: 22px;
    font-family: "Bariol";
    text-align: center;
    color: #ffffff;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 10px;
}

#standard_workout_style {
    background-color: black;
    width: 350px;
    height: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#inner-div {
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
}
  
#inner-div-left {
    display: flex; /* Turn div into a flex container */
    width: 30%;
    border: none;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}
  
#inner-div-right {
    width: 70%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

.inner_div_datetime {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "Bariol";
  font-style: italic;
  font-weight: 500;
}

.occ_quick_view {
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100px;
    margin: 15px;
    padding: 0;
    font-family: "Bariol";
}

#occ_curr {
    justify-content: center;
    background-color:#131738;
    width: 350px;
    height: 200px;
    margin: 15px;
    padding: 0;
    border: none;  
    border-radius: 10px;
}


#occ_curr_title {
    color: white;
    font-size: 20px;
    font-family: "Bariol";
    font-weight: 400;
    padding-top: 20px;

}

#occ_curr_number {
    color: white;
    font-size: 50px;
    font-family: "Bariol";
    font-weight: 400;
}

#occ_curr_sub {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color:white;
}

#gym_info {
    width: 75%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    border: none;   
    color: white;
}

#percentage {
    width: 25%;
    height: 100%;
    right: 0;   
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.subsection {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

#gym_name {
    color: white;
    font-size: 25px;
    font-family: "Bariol";
    font-weight: 400;
    padding-top: 20px;
    padding-left: 10px;
}

.circle {
    width: 65px; /* Set width and height for the circle */
    height: 65px;
    border: 4px solid #BCFF31;
    background-color: black; /* Change background color as desired */
    border-radius: 50%; /* Makes the element a circle */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: "Bariol";
}

#open {
    height: 100%;
    color: green;
    font-size: 20px;
    font-family: "Bariol";
    font-weight: bold;
    padding-left: 10px;
}

#closed {
    height: 100%;
    color: red;
    font-size: 20px;
    font-family: "Bariol";
    font-weight: bold;
    padding-left: 10px;
}

#hours {
    height: 100%;
    color: white;
    font-size: 20px;
    font-family: "Bariol";
    text-align: left; /* Align text to the left */
    letter-spacing: 1px; /* Increase letter spacing */
    padding-left: 10px;
}

#note_button {
    border-radius: 10px;
    background-color: black;
    border: 2px solid #FFFFFF;
    width: 350px;
    height: 50px;
    font-weight: 400;
    font-size: 20px;
    
}


.circle_plus_button {
    width: 65px; /* Set width and height for the circle */
    height: 65px;
    border: 2px solid white;
    background-color: #BCFF31; /* Change background color as desired */
    border-radius: 50%; /* Makes the element a circle */
    display: flex;
    justify-content: center;
    align-items: center;
}

.see_note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border: 2px solid white;
    color: white;
    width: 325px;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Bariol";
    font-size: 25px;
    padding: 0 10px;
  }
  
  .button-text {
    flex: 1;
    text-align: left; /* Aligns the text to the left */
  }
  