/* Add this to your calendar.css file */

/* Calendar Container */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 10px;
  position: relative;
}

/* Navigation Buttons */
.react-calendar__navigation button {
  color: #fff;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

/* Days */
abbr[title] {
  text-decoration: none;
  color: white;
}

/* Month View Days */
.react-calendar__month-view__days__day {
  color: white;
}

/* Tiles */
.react-calendar__tile:enabled {
  position: relative;
  overflow: hidden;
}

/* Hover Styles */
.react-calendar__tile:enabled:hover::after,
.react-calendar__tile--active::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(125, 26, 124, 0.9);
}

/* Remove existing background and color properties for these states */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: none;
}

/* Select Range */
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

/* Selected Day Styles */
.workout-day::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: blue;
  color: white;
}

/* Exclude styling for the current date */
.current-date {
  background: none;
  color: white;
}