/* Calendar Container */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 10px;
  position: relative;
}

/* Navigation Buttons */
.react-calendar__navigation button {
  color: #fff;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

/* Days */
abbr[title] {
  text-decoration: none;
  color: white;
}

/* Month View Days */
.react-calendar__month-view__days__day {
  color: white;
}

.workout-day {
  background-color: rgb(190, 173, 249); 
  color: #000000; 
  border-radius: 50%;
}

.react-calendar__navigation__prev2-button:active,
.react-calendar__navigation__next2-button:active,
.react-calendar__navigation__prev-button:active,
.react-calendar__navigation__next-button:active,
.react-calendar__navigation__prev2-button:focus,
.react-calendar__navigation__next2-button:focus,
.react-calendar__navigation__prev-button:focus,
.react-calendar__navigation__next-button:focus {
  background-color: inherit !important;
}

.react-calendar__tile--now:active,
.react-calendar__tile--now:focus,
.react-calendar__tile--now:active:focus {
  background-color: inherit !important;
}
