

h2 {
    font-size: 25px;
    color: #FFF;
    margin-bottom: 10px;
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    gap: 10px;
    margin-bottom: 20px;
}

.equipment-all-search-bar{
    width: 380px;
    margin-top:30px;
    margin-bottom:10px;
}

.card {
    background: #FFF;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 110px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    overflow: hidden;
}

.equipment-info {
    display: flex;
    align-items: center; 
    gap: 5px; 
  }

.status-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.green {
    background-color: #4CD964;
}

.red {
    background-color: #FF3B30;
}

.equipment-name {
    font-size: 12px;
    color: #000;
    /* margin: 5px 0; */
}

.equipment-status {
    font-size: 12px;
    color: #666;
    /* margin: 5px 0; */
}

.equipment-time,
.equipment-avg-time {
    font-size: 10px;
    color: #999;
    /* margin: 5px 0; */
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.see-all-link {
    text-decoration: none;
    color: #BCFF31; 
    font-size: 16px;
}

.back-button {
    color: #BCFF31; 
    text-decoration: underline;
    
}