body {
  margin: 0;
  padding: 0;
}
  
  .header {
    margin-left: 2rem;
    padding-top: 3rem;
    font-size: 32px;
  }
  
  .subheader {
    margin-left: 2rem;
    padding-top: 1rem;
    font-size: 25px;
  }
  
  .navbar {
    background-color: #131738;
  }

  .bottom-tab-nav {
    border-top: solid 0px #131738;
  }

  .nav-link,
  .bottom-nav-link {
    color: #FFFFFF;
  }

  .bottom-nav-link.active {
    color: #BCFF31;
  }

  .bottom-tab-label {
    font-size: 12px;
    color: #929292;
  } 