.container {
    width: 100%;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #131738;
    position: relative;
    align-items: center; /* Vertically center */
  }
  
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content at the top */
    margin-top: 20px; /* Adjust as needed for spacing */
  }

  .note_content {
    width: 85%;
    height: 500px;
    color: white;
    font-family: "Bariol";
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content at the top */
    margin-top: 20px; /* Adjust as needed for spacing */
  }
  
  