.container {
    width: 100%;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #131738;
    position: relative;
    align-items: center; /* Vertically center */
}