 .searchbox {
  padding-top: 10px;
 }

 .search-container {
    width: 90%;
    height: 35px;   
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
 
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .search-text {
    display: inline-block;
    padding: 0px 0px 0px 0px;
  }
  
  .search-container .search-input {
    width:80%;
  }
  
  .search-input .input-text {
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: white;
    color: rgba(130, 137, 133, 0.80); /* Text color */ 
    font-family: "Bariol";
  }
  
  #magnifying_glass {
    width: 45px;
    height: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  .padding_top_bottom {
    padding-top: 10px;
    padding-bottom: 10px;
  }