#text_box {
    background-color: #F8F7F7;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center; /* Vertically center */
    font-family: "Inter-Regular", "Helvetica";
    font-size: 30px;
    font-weight: 500;
    padding-left: 20px;
}

.container {
    width: 100%;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #F8F7F7;
    position: relative;
}

#start_workout {
    background-color: #F8F7F7;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

#get_started {
    width: 100%;
    height: 20%;
    background-color: #F8F7F7;
}

#achievements {
    width: 100%;
    height: 35%;
    background-color: #F8F7F7;
}

#recent_workouts {
    width: 100%;
    height: 25%;
    background-color: #F8F7F7;
}

#previous_workouts {
    background-color: #F8F7F7;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center; /* Horizontally center */
}

#badges {
    background-color: #F8F7F7;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center; /* Horizontally center */
}

.badge {
    display: flex; /* Set as flex container */
    flex-direction: column; /* Arrange children vertically */
    width: 150px;
    height: 180px;
    margin-right: 10px;
    background-color: white;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
  }

.icon {
    padding-top: 20px;
}
  

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.badge_title {
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    max-width: 100; /* Adjust as needed */
    overflow-wrap: break-word; /* Ensures word wrapping */
    padding-top: 20px;
}

.white-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  #text_box_head {
    margin-top: 25px;
    font-size: 1.5em;
    font-weight: 600;
  }
  
  #text_box_1 {
    margin-top: 15px;
  }
  #text_box_2 {
    margin-top: 7px;
  }
  
  .button-container {
    margin-top: 20px;
  }