#text_box {
  background-color: #F8F7F7;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center; /* Vertically center */
  font-family: "Inter-Regular", "Helvetica";
  font-size: 30px;
  font-weight: 500;
  padding-left: 20px;
}

.container {
    width: 100%;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* background-color: #F8F7F7; */
    position: relative;
}

.content {
  /* display: flex; */
  /* justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%; */
}

.yellow-container {
  background-color: #BCFF31;
  padding: 30px;
  border-radius: 10px;
  max-width: 85%;
  margin: 10px auto; /* Center horizontally with auto margin */
  margin-bottom: 20px;
}

.white-container {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  max-width: 85%;
  margin: 10px auto; /* Center horizontally with auto margin */
  margin-bottom: 20px;
}

.side-by-side-containers {
  display: flex;
  justify-content: space-between;
}

.square-container {
  flex: 1; /* Equal flex proportions for both side-by-side containers */
  max-width: 50%; /* Optional: Limit the maximum width of each container */
}

.icon-container {
  max-width: 80%;
  text-align: center; /* Center the image horizontally */
}

.icon-image {
  max-width: 70%;
  height: auto;
  display: inline-block;
}

#workout_details {
    background-color: #131738;
    padding-top: 100px;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

#recent_workouts {
    width: 100%;
    height: 25%;
    background-color: #F8F7F7;
}

  #text_box_time {
    margin-top: 20px;
    color: #000000;
    font-size: 60px;
    font-weight: 600;
    font-family: bariol;
  }
  
  #text_box_label {
    color: #000000;
    font-family: bariol;
  }

  .input-container {
    display: inline-block;
    margin-left: 10px; /* Adjust the margin as needed */
  }

  .input-container input {
    width: 100px; /* Adjust the width as needed */
  }

  #text_box_label {
    color: #000000;
    font-family: bariol;
  }


