#text_box {
  background-color: #F8F7F7;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center; /* Vertically center */
  font-family: "Inter-Regular", "Helvetica";
  font-size: 30px;
  font-weight: 500;
  padding-left: 20px;
}

.container {
  width: 100%;
  height: 92vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #F8F7F7;
  position: relative;
}

.yellow-container {
  background-color: #BCFF31;
  padding: 40px;
  border-radius: 10px;
  max-width: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
}

#workout_details {
    background-color: #F8F7F7;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

#get_started {
    width: 100%;
    height: 20%;
    background-color: #F8F7F7;
}

  #text_box_time {
    margin-top: 25px;
    color: #000000;
    font-size: 40px;
    font-weight: 600;
  }

  #text_box_speed {
    margin-top: 25px;
    color: #000000;
    font-size: 40px;
    font-weight: 600;
  }
  
  #text_box_mins {
    margin-top: 15px;
    color: #FF6B2B;
  }