
  
  .white-container-workout-label {
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 80%;
    margin: 10px auto; /* Center horizontally with auto margin */
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .side-by-side-containers {
    display: flex;
    justify-content: space-between;
  }
  
  .square-container {
    flex: 1; /* Equal flex proportions for both side-by-side containers */
    max-width: 50%; /* Optional: Limit the maximum width of each container */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .workout-label {
    font-size: 25px;
    color: #BCFF31;
    padding-left: 45px;
    padding-bottom: 0px;
  }

  #equipment-container {
    padding-top: 15px;
  }