.container {
    width: 100%;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #F8F7F7;
    position: relative;
    align-items: center; /* Vertically center */
}

#saved_gyms {
    display: flex;
    flex-direction: column; /* Stacks divs vertically */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    padding: 5px;
    overflow-y: scroll; /* Enable vertical scrollbar when content overflows */
}

#add_button {
    position: fixed;
    bottom: 100px; /* Adjust distance from the bottom */
    right: 25px; /* Adjust distance from the right */
}

#white_box {
    width: 95%;
    height: 79%;
    background: black;
    border-radius: 30px;
    margin: 0 auto; /* Center horizontally */
}