/* .App {
  margin-left: 20px;
} */

body {
  margin: 0;
}

.header {
  margin-left: 2rem;
  padding-top: 3rem;
  font-size: 32px;
}

.subheader {
  margin-left: 2rem;
  padding-top: 1rem;
  font-size: 25px;
}

